* {
    box-sizing: border-box;
}


nav, #section2 {
    
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: ;

}

#section2 {
    justify-content: center space-between;
    align-items: center;
    text-align: center;
    width: 500px;
}